.done-true {
    text-decoration: line-through;
    color: grey;
}

table, th, td {
	 margin: 10px 10px 10px 10px;
    /*border: 1px solid black;*/
    border-collapse: collapse;
	 vertical-align: top;
}

th, td {
    padding: 10px;
}

th{
/*	width: 100px;*/
}

#header{
	text-align: center;
	color: white;
}

#container{
	margin: 100px 150px 100px 80px;
	padding: 10px 10px 10px 10px;
	/*background-color:#34495e; 
	height: auto;*/
}

#textField{
	size: 25;
}
