<html>
    <head>
        <title>Week Scheduler</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="weekScheduler.js"></script>
        <link rel="stylesheet" type="text/css" href="weekScheduler.css">
   	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> 
	 </head>

    <body>

        <div id="container" ng-app='todoApp' ng-controller="todoCtrl">

                <h1 id="header">Week Scheduler</h1>
					 <table class = "container card" style="width:95%;"> 
					 <tr>
					 <th>
                <div id="monday">
                    <div>
                        <h5>Monday</h5>
                        <form ng-submit="monAddTodo()">
                            <input size="12" type="text" ng-model="monTodoText"></input>
                        </form>    
                    </div>
                    <div ng-repeat="monTodo in monTodos">
                        <input type="checkbox" ng-model="monTodo.done"/>
                        <span class="done-{{monTodo.done}}" >{{monTodo.text}}</span>
                    </div>
                </div>
                </th>
					 
					 <th>
                <div id="tuesday">
                    <div>
                        <h5>Tuesday</h5>
                        <form ng-submit="tueAddTodo()">
                            <input size="12" type="text" ng-model="tueTodoText"></input>
                        </form>    
                    </div>
                    <div ng-repeat="tueTodo in tueTodos">
                        <input type="checkbox" ng-model="tueTodo.done"/>
                        <span class="done-{{tueTodo.done}}" >{{tueTodo.text}}</span>                    
                    </div>
                </div>
					 </th>
	
					 <th>
                <div id="wednesday">
                    <div>
                        <h5>Wednesday</h5>
                        <form ng-submit="wedAddTodo()">
                            <input size="12" type="text" ng-model="wedTodoText"></input>
                        </form>    
                    </div>
                    <div ng-repeat="wedTodo in wedTodos">
                        <input type="checkbox" ng-model="wedTodo.done"/>
                        <span class="done-{{wedTodo.done}}" >{{wedTodo.text}}</span>                    
                    </div>
                </div>
					 </th>

					 <th>
                <div id="thursday">
                    <div>
                        <h5>Thursday</h5>
                        <form ng-submit="thuAddTodo()">
                            <input size="12" type="text" ng-model="thuTodoText"></input>
                        </form>    
                    </div>
                    <div ng-repeat="thuTodo in thuTodos">
                        <input type="checkbox" ng-model="thuTodo.done"/>
                        <span class="done-{{thuTodo.done}}" >{{thuTodo.text}}</span>                    
                    </div>
                </div>
					 </th>

					 <th>
                <div id="friday">
                    <div>
                        <h5>Friday</h5>
                        <form ng-submit="friAddTodo()">
                            <input size="12" type="text" ng-model="friTodoText"></input>
                        </form>    
                    </div>
                    <div ng-repeat="friTodo in friTodos">
                        <input type="checkbox" ng-model="friTodo.done"/>
                        <span class="done-{{friTodo.done}}" >{{friTodo.text}}</span>                    
                    </div>
                </div>
					 </th>

					 <th>
                <div id="saturday">
                    <div>
                        <h5>Saturday</h5>
                        <form ng-submit="satAddTodo()">
                            <input size="12" type="text" ng-model="satTodoText"></input>
                        </form>    
                    </div>
                    <div ng-repeat="satTodo in satTodos">
                        <input type="checkbox" ng-model="satTodo.done"/>
                        <span class="done-{{satTodo.done}}" >{{satTodo.text}}</span>                    
                    </div>
                </div>
					 </th>

				    <th>
                <div id="sunday">
                    <div>
                        <h5>Sunday</h5>
                        <form ng-submit="sunAddTodo()">
                            <input size="12" type="text" ng-model="sunTodoText"></input>
                        </form>    
                    </div>
                    <div ng-repeat="sunTodo in sunTodos">
                        <input type="checkbox" ng-model="sunTodo.done"/>
                        <span class="done-{{sunTodo.done}}" >{{sunTodo.text}}</span>                    
                    </div>
                </div>
					 </th>	
					 					 </tr>
					 </table>
        </div>
    </body>

</html>



