.done-true {
    text-decoration: line-through;
    color: grey;
}

table, th, td {
	 margin: 10px 10px 10px 10px;
    /*border: 1px solid black;*/
    border-collapse: collapse;
	 vertical-align: top;
}

th, td {
    padding: 10px;
	 width: 10%;
}


#header{
	text-align: center;
	color: darkred;
	margin: 50px;
}

#container{
	margin: 5%;
	padding: 3%;
}

#textField{
	size: 30;
}

body {
	background-image: url("background.jpg");	
	background-size: 100%;
}
